<h1>Preguntas Frecuentes</h1>

<div class="faq">

    <h2>Sobre la app</h2>
  <div class="faq-item">
    <input type="checkbox" id="q0">
    <label for="q0">¿Quién ha hecho la aplicación?</label>
    <div class="answer">
      La aplicación ha sido desarrollada por el alumno Julen Bertiz Orbegozo, estudiante de 2º de DAM en Maria Ana Sanz.
    </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="q1">
    <label for="q1">¿En que lenguaje esta desarrollada la aplicación?</label>
    <div class="answer">
      Esta desarrollada en Kotlin y Angular. Kotlin para la aplicación móvil y Angular para la web.
    </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="q2">
    <label for="q2">¿Que software se ha utilizado para el desarrollo de la aplicación?</label>
    <div class="answer">
      Se ha utilizado Android Studio para el desarrollo de la aplicación móvil, MySQL para la base de datos y Visual Studio Code para el desarrollo de la web.
    </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="q3">
    <label for="q3">¿Se ha utilizado alguna API para el desarrollo de la aplicación?</label>
    <div class="answer">
      No, el proyecto se ha desarrollado sin utilizar ninguna API.
    </div>
  </div>

  <h2>Sobre natación</h2>
  <h3>Básicas</h3>
  <div class="faq-item">
    <input type="checkbox" id="qn1">
    <label for="qn1">¿Que estilos de natación existen?</label>
    <div class="answer">
      Existen 4 estilos de natación básicos: crol, espalda, mariposa y braza. 
    </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="qn2">
    <label for="qn2">¿Hay competiciones oficiales de natación?</label>
    <div class="answer">
      Por supuesto que existen, aparte de las olimpiadas, mundiales y campeonatos nacionales, hay competiciones regionales, autonómicas y municipales.
    </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="qn3">
    <label for="qn3">¿Los nadadores profesionales cuantos días entrenan para las competiciones?</label>
    <div class="answer">
      Entrenan todos los días y no solo un entrenamiento diario, entrenan entre 14 y 20 entrenamientos semanales.
  </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="qn4">
    <label for="qn4">¿Las competiciones de natación duran mucho tiempo?</label>
    <div class="answer">
      Depende del tipo de competicion, las competiciones, las olimpiadas, los mundiales o las copas del mundo duran entre 4 y 10 días. Pero las competiciones regionales y autonomicas de natación duran entre 1 y 3 días.
  </div>
</div>

  <div class="faq-item">
    <input type="checkbox" id="qn5">
    <label for="qn5">¿Por que es importante aprender a nadar?</label>
    <div class="answer">
      Es importante aprender a nadar porque es un deporte que ayuda a mantenerse en forma, es un deporte que ayuda a mejorar la salud y es un deporte que ayuda a mejorar la salud mental.
  </div>
</div>

  <h3>Preguntas especificas</h3>
  <div class="faq-item">
    <input type="checkbox" id="qn6">
    <label for="qn6">¿Que pruebas se realizan en la natación?</label>
    <div class="answer">
      En las competiciones se realizan las siguientes pruebas: 100m, 200m, 400m, 800m, 1500m, 50m libre y 50m, 100m, y 200m de espalda, mariposa y braza.
  </div>
</div>

</div>
